<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>

  <fieldset>
    <!-- <legend><%= controller.action_name.capitalize %> User</legend> -->

    <% if @user.errors.any? %>
      <div class="error_messages" id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="control-group">
      <%= f.label :first_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :last_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name, :class => 'text_field' %>
      </div>
    </div>

    <% if is_admin? %>
      <% if @user.id.nil?  %>
        <div class="control-group">
          <%= f.label :username, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :username, :class => 'text_field' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :email, :class => 'text_field' %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="control-group">
      <%= f.label :password, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :password, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :password_confirmation, :class => 'text_field' %>
      </div>
    </div>
       <td width="25%">

          </td>
    <% if is_admin? %>
      <div class="control-group">
        <%= f.label :member_type, :class => 'control-label' %>
        <div class="controls">
          Admin
            <%= f.radio_button :account_type_id,1 %>
           Surveyor
            <%= f.radio_button :account_type_id,2 %>
        </div>
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <% if is_admin? %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          users_path, :class => 'btn' %>
      <% else %>
        <% if is_login? %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            user_path(current_user), :class => 'btn' %>
        <% end %>
      <% end %>
    </div>
  </fieldset>
<% end %>
