<%- model_class = Survey -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:outlet_type_id) %>:</strong></dt>
  <dd><%= @survey.outlet_type.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_spent_at_the_philips) %>:</strong></dt>
  <dd><%= @survey.time_spent_at_the_philips %></dd>
  <dt><strong><%= model_class.human_attribute_name(:visibility_of_philips) %>:</strong></dt>
  <dd><%= @survey.visibility_of_philips %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stock_availability_of_philips) %>:</strong></dt>
  <dd><%= @survey.stock_availability_of_philips %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:promoter_of_philips) %>:</strong></dt>
  <% if  @survey.promoter_of_philips == '1' %>
  <dd>Yes</dd>
  <% else %>
  <dd>No</dd>
  <% end %>
  
  <dt><strong><%= model_class.human_attribute_name(:rate_the_presentability_of_the_philips) %>:</strong></dt>
  <dd><%= @survey.rate_the_presentability_of_the_philips %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rate_the_communication_skill_of_the_philips) %>:</strong></dt>
  <dd><%= @survey.rate_the_communication_skill_of_the_philips %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_spent_at_the_braun) %>:</strong></dt>
  <dd><%= @survey.time_spent_at_the_braun %></dd>
  <dt><strong><%= model_class.human_attribute_name(:visibility_of_the_braun) %>:</strong></dt>
  <dd><%= @survey.visibility_of_the_braun %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stock_availability_of_the_braun) %>:</strong></dt>
  <dd><%= @survey.stock_availability_of_the_braun %></dd>

  <dt><strong><%= model_class.human_attribute_name(:promoter_of_braun) %>:</strong></dt>
  <% if  @survey.promoter_of_braun == '1' %>
  <dd>Yes</dd>
  <% else %>
  <dd>No</dd>
  <% end %>

  <dt><strong><%= model_class.human_attribute_name(:rate_the_presentability_of_braun) %>:</strong></dt>
  <dd><%= @survey.rate_the_presentability_of_braun %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rate_the_communication_skill_of_the_braun) %>:</strong></dt>
  <dd><%= @survey.rate_the_communication_skill_of_the_braun %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @survey.user.full_name_by_id(:user_id) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              surveys_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_survey_path(@survey), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              survey_path(@survey),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
